.alert {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 0.9375rem;
	line-height: 1.5;
	color: white;
	background: rgba(15, 15, 15, 0.5);
	border-radius: 0.25rem;
	box-shadow: 0px 4px 12px 0 HSL(243deg 62% 18% / 20%), 0px 2px 6px 0 HSL(243deg 62% 18% / 15%);

	.alert-body {
		margin: 0;
		padding: 0.375rem 0.75rem;
	}

	.btn {
		margin: 0;
		border-radius: 0;
	}

	.btn:last-child {
		border-radius: 0 0.25rem 0.25rem 0;
	}
}

.alert-modal {
	position: fixed;
	bottom: 1.5em;
	margin: 0 auto;
	left: 50%;
	transform: translate(-50%, 0);
}

@supports (backdrop-filter: brightness(70%) contrast(110%) saturate(140%) blur(12px)) {
	.alert-modal {
		background: none;
		backdrop-filter: brightness(70%) contrast(110%) saturate(140%) blur(12px);
	}
}
