
ul.links {
	display: block;
	margin: 0;
	list-style: none;
	padding: 0;

	li {
		display: block;
		margin: 0;
		list-style: none;
		padding: 0;
		position: relative;

		.title {
			white-space: pre;
		}

		.icon {
			display: inline-block;
			margin: 0;
			object-fit: cover;
			max-height: 18px;
			vertical-align: middle;
		}

		&.section {
			padding: 0.4rem 0.8rem 0.2rem 0.8rem;

			> .title {
				font-size: 0.9rem;
				line-height: 1.5;
				color: white;
				opacity: 0.5;
			}

			&:first-child {
				padding-top: 0.8rem;
			}
		}

		&.separator {
			--color: rgba(200, 200, 200, 0.1);
			border-top: 2px solid var(--color);
		}

		&.text {
			display: block;
			text-decoration: none;
			padding: 0.5rem 1rem;
			font-size: 1.171875rem;
			line-height: 1.5;
		}

		a {
			display: block;
			padding: 0.4rem 0.8rem;
			color: rgba(255, 255, 255, 0.9);
			text-decoration: none;
			transition: color 0.2s ease-in-out,
					background-color 0.2s ease-in-out;

			&:hover {
				color: white;
				background: rgba(255, 255, 255, 0.1);
				text-decoration: none;
			}
		}

		.dropdown {
			position: absolute;
			left: 0;
			top: 100%;
			visibility: collapse;
			min-width: 250px;
			z-index: 200;

			background: var(--color-background);
			border-radius: 0 3px 3px 3px;

			.dropdown {
				top: 0;
				left: 100%;
			}
		}

		&:hover > .dropdown {
			visibility: visible;
		}
	}

	&.large {
		li.section {
			padding: 0.5rem 1rem 0.2rem 1rem;
			font-size: 0.9rem;
			line-height: 1.5;
		}

		a {
			padding: 0.5rem 1rem;
			font-size: 1.171875rem;
			line-height: 1.5;
		}
	}

	.thumbnail {
		background-color: rgba(200, 200, 200, 0.1);
		border-radius: 4px;
	}

	&.links-horizontal {
		display: flex;
		flex-direction: row;
		height: 100%;

		> li > a {
			height: 100%;
			box-sizing: border-box;
		}

		> li.section {
			padding: 0.4rem 0.8rem;
			line-height: inherit;
			opacity: 1;
		}

		> li.separator {
			border-top: none;
			border-left: 1px solid var(--color);
		}

		&.large li.section {
			padding: 0.5rem 1rem;
		}
	}

	&.links-align li a {
		display: flex;
		align-items: center;
	}
}


.bookmarks-top-bar {
	z-index: 100;

	.panel {
		border-radius: 0;
		overflow: visible;
	}

	ul.links-horizontal {
		padding-left: 0.32rem;

		.icon {
			width: 16px;
			height: 16px;
		}

		> li > a {
			padding: 0.6rem 0.53rem;
		}

		> li > .title, > li > a > .title {
			font-size: 83%;
			max-width: 110px;
			@include line_clamp(1);
			word-break: break-all;
		}
	}
}
