.todolist {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		.btn {
			visibility: hidden;
			margin: 0 0 0 0.5em;
		}

		&:hover .btn, &:focus-within .btn {
			visibility: visible;
		}

		display: flex;
		list-style: none;
		margin: 0;
		padding: 0 0 0.25em 0;
		gap: 0.25em;

		input[type="checkbox"] {
			flex-shrink: 1;
			margin-right: 0.5em;

			&:checked + span {
				opacity: 0.7;

				&, input {
					text-decoration: line-through;
				}
			}

			&:disabled {
				visibility: hidden;
			}
		}

		input[type="text"], .input-auto > .backing {
			flex-grow: 1;
			font-size: 120%;
		}

		.backing {
			@include line-clamp(1);
		}
	}
}

.widget .todolist {
	height: 100%;
	// box-sizing: border-box;
	overflow: hidden auto;
}

.panel .todolist {
	height: auto;
	overflow: hidden;
}
