.ml-0, .mx-0 {
	margin-left: 0 !important;
}

.ml-1, .mx-1 {
	margin-left: 0.25rem !important;
}

.ml-2, .mx-2 {
	margin-left: 0.5rem !important;
}

.ml-3, .mx-3 {
	margin-left: 0.75rem !important;
}



.mr-0, .mx-0 {
	margin-right: 0 !important;
}

.mr-1, .mx-1 {
	margin-right: 0.25rem !important;
}

.mr-2, .mx-2 {
	margin-right: 0.5rem !important;
}

.mr-3, .mx-3 {
	margin-right: 0.75rem !important;
}


.mt-0, .my-0 {
	margin-top: 0 !important !important;
}

.mt-1, .my-1 {
	margin-top: 0.25rem !important;
}

.mt-2, .my-2 {
	margin-top: 0.5rem !important;
}

.mt-3, .my-3 {
	margin-top: 0.75rem !important;
}

.mt-4, .my-4 {
	margin-top: 2rem !important;
}


.mb-0 {
	margin-bottom: 0 !important;
}


.text-muted {
	color: rgba(255, 255, 255, 0.5);

	b, strong{
		color: rgba(255, 255, 255, 0.65);
	}
}

.text-shadow-soft, .text-shadow-soft input {
	text-shadow: 0 0 1em rgba(15, 15, 15, 0.4), 3px 3px 3px rgba(15, 15, 15, 0.2);

	svg {
		filter: drop-shadow(0 0 1em rgba(15, 15, 15, 0.4))
			drop-shadow(3px 3px 3px rgba(15, 15, 15, 0.2));
	}
}

.text-shadow-hard, .text-shadow-hard input {
	text-shadow: 2px 2px 2px rgba(15, 15, 15, 0.3);

	svg {
		filter: drop-shadow(2px 2px 2px rgba(15, 15, 15, 0.3));
	}
}

.float-right {
	float: right;
}

.text-center {
	text-align: center;
}

.vertical-middle {
	display: flex;
	align-items: center;
	justify-content: left;
	height: 100%;
}

.middle-center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.clear-both {
	clear: both;
}

.scrollable {
	overflow: hidden auto;
	overflow-wrap: break-word;
	width: 100%;
	height: 100%;
}
