.field {
	margin: 0 0 0.9em 0;
}

.field-group {
	display: flex;

	> * {
		margin: 0;

		&:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

label {
	display: block;
	margin: 0.3em 0;
}

input[type="text"], input[type="date"], textarea {
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 0.25rem;
	color: white;
	padding: 0.3rem 0.6rem;
	display: block;
	width: 100%;
	box-sizing: border-box;

	&::placeholder {
		color: rgba(255, 255, 255, 0.6);
	}
}

input.large, textarea.large {
	font-size: 120%;
	padding: 0.7rem 1rem;
}

textarea.invisible, input.invisible {
	background: transparent;
	border: none;
	color: white;
	resize: none;
	font-family: inherit;
}

.panel.flush .invisible:focus {
	outline: none;
}

.field-array {
	.row {
		padding: 0.8em 1em;
		margin: 1em 0;
		border: 1px solid rgba(255, 255, 255, 0.2);
		border-radius: 0.25rem;

		h3 {
			margin-top: 0;
			font-size: 100%;
		}

		*:last-child {
			margin-bottom: 0;
		}
	}
}
