main {
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 974px;
}

$grid_gap: 1em;

.grid {
	display: grid;
	grid-template-columns: repeat(15, 50px);
	grid-template-rows: repeat(12, 50px);
	grid-gap: $grid_gap;

	& > * {
		display: inline-block;
		grid-row: span 6;
		grid-column: span 6;
	}
}

@media (max-width: 750px) {
	html, body, #app {
		height: auto;
		overflow: auto;
	}

	footer {
		display: block;
		padding: 2em 0;
		text-align: center;
		transform: none;
		position: static;
	}

	main {
		margin: none;
		padding: 1em;
		position: static;
		transform: none;
		width: auto;
	}
}

@media (max-width: 500px) {
	.grid {
		display: block;
		column-count: inherit;
	}
}

.grid > .btn {
	display: block;
	color: rgba(255, 255, 255, 0.25);
	padding: 0rem 0.8rem;
	text-align: center;
	transition: background-color 0.15s ease-in-out, drop-shadow 0.15s ease-in-out;
	border-radius: 0.25rem;
	cursor: pointer;
	font-size: 200%;

	&:hover {
		background: rgba(255, 255, 255, 0.1);
	}
}
