:root {
	--font-family: "Roboto";
	--font-size: 100%
	--panel-blur: 12px;
	--panel-opacity: 0.5;
	--color-primary: #007DB8;
	--color-primary-highlight: #06aed5;
}

html, body, #app {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	color: #eee;
	font-family: var(--font-family), "Arial", sans-serif;
	font-size: var(--font-size);
}

h1 {
	display: block;
	text-align: center;
	font-size: 64pt;
	margin: 0 0 2.5rem 0;
}

.mb-0 {
	margin-bottom: 0;
}

.text-muted {
	color: rgba(255, 255, 255, 0.5);

	b, strong{
		color: rgba(255, 255, 255, 0.65);
	}
}

.text-shadow-soft, .text-shadow-soft input {
	text-shadow: 0 0 1em rgba(15, 15, 15, 0.4), 3px 3px 3px rgba(15, 15, 15, 0.2);

	svg {
		filter: drop-shadow(0 0 1em rgba(15, 15, 15, 0.4))
			drop-shadow(3px 3px 3px rgba(15, 15, 15, 0.2));
	}
}

.text-shadow-hard, .text-shadow-hard input {
	text-shadow: 2px 2px 2px rgba(15, 15, 15, 0.3);

	svg {
		filter: drop-shadow(2px 2px 2px rgba(15, 15, 15, 0.3));
	}
}

.float-right {
	float: right;
}

a, .link {
	cursor: pointer;
	color: var(--color-primary-highlight);
	text-decoration: none;
	transition: filter 0.1s ease-in-out;

	&:not(.btn):hover {
		filter: brightness(1.2);
		text-decoration: underline;
	}
}

footer, .credits {
	font-size: 80%;
	color: rgba(255, 255, 255, 0.4);

	* {
		vertical-align: middle;
	}

	.large {
		font-size: 140%;
	}

	a, .link {
		cursor: pointer;
		color: rgba(255, 255, 255, 0.65);
		text-decoration: none;

		&:hover {
			color: rgba(255, 255, 255, 1);
			text-decoration: none;
		}
	}
}

.locked footer {
	opacity: 0.3;
}

footer {
	position: fixed;
	bottom: 12px;
	right: 10px;
}

.credits {
	position: fixed;
	bottom: 0px;
	left: 15px;

	> a > span {
		display: block;
	}

	.title {
		display: block;
	}

	.title, .btn {
		opacity: 0;
		transition: opacity 0.1s ease-in-out;
	}

	&:hover .title, &:hover .btn {
		visibility: visible;
		opacity: 1;
	}
}

main {
	display: block;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 974px;
	transform: translate(-50%, -50%);
	// transition: all 0.5s ease-in-out;
}

.hidden main {
	opacity: 0;
}

main.scrolling {
	top: 10%;
	transform: translate(-50%, 0);
}

#background {
	z-index: -2;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: #111;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

@media (max-width: 750px) {
	html, body, #app {
		height: auto;
		overflow: auto;
	}

	footer {
		display: block;
		padding: 2em 0;
		text-align: center;
		transform: none;
		position: static;
	}

	main {
		margin: none;
		padding: 1em;
		position: static;
		transform: none;
		width: auto;
	}
}

@import "mixins";
@import "buttons";
@import "panel";
@import "widget";
@import "fields";
@import "alert.scss";
@import "modal";
@import "utils";
@import "scrollbar";
@import "iconbar";
@import "todolist";

@import "~react-grid-layout/css/styles.css";
@import "~react-resizable/css/styles.css";
