html, body, #app {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
	color: #eee;
	font-family: "Roboto", "Arial", sans-serif;
	background: #111;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url("https://i.redd.it/5hm3u7rb4fk61.jpg");
}

h1 {
	display: block;
	text-align: center;
	font-size: 64pt;
	margin: 0 0 2.5rem 0;
}

.mb-0 {
	margin-bottom: 0;
}

.text-muted {
	color: rgba(255, 255, 255, 0.5);
}

.float-right {
	float: right;
}

.btn {
	display: inline-block;
	padding: 0.375rem 0.75rem;
	margin: 0.25rem 0.25rem 0.25rem 0;
	font-size: 0.9375rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	background: transparent;
	border: 1px solid transparent;
	color: white;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	cursor: pointer;

	&:hover {
		text-decoration: none;
	}
}

.btn-lg {
	padding: 0.5rem 1rem;
	font-size: 1.171875rem;
	line-height: 1.5;
	border-radius: 0.3rem;
}

.btn-primary {
	background-color: #007DB8;
	border-color: #007DB8;

	&:hover {
		background-color: #06aed5;
		border-color: #06aed5;
	}
}

.btn-danger {
	background-color: #e74c3c;
	border-color: #e74c3c;

	&:hover {
		background-color: #e12e1c;
		border-color: #d62c1a;
		color: white;
	}
}

.btn-outline, .btn-secondary {
	border-color: rgba(255, 255, 255, 0.5);
	color: white;

	&:hover {
		border-color: rgba(255, 255, 255, 0.6);
		background: rgba(255, 255, 255, 0.25);
	}
}

.link {
	cursor: pointer;
	color: #007DB8;
	text-decoration: none;

	&:hover {
		color: #06aed5;
		text-decoration: underline;
	}
}


@import "grid.scss";
@import "widgets.scss";
@import "fields.scss";
@import "modal.scss";
