.ml-0, .mx-0 {
	margin-left: 0;
}

.ml-1, .mx-1 {
	margin-left: 0.25rem;
}

.ml-2, .mx-2 {
	margin-left: 0.5rem;
}

.ml-3, .mx-3 {
	margin-left: 0.75rem;
}



.mr-0, .mx-0 {
	margin-right: 0;
}

.mr-1, .mx-1 {
	margin-right: 0.25rem;
}

.mr-2, .mx-2 {
	margin-right: 0.5rem;
}

.mr-3, .mx-3 {
	margin-right: 0.75rem;
}


.mt-0, .my-0 {
	margin-top: 0;
}

.mt-1, .my-1 {
	margin-top: 0.25rem;
}

.mt-2, .my-2 {
	margin-top: 0.5rem;
}

.mt-3, .my-3 {
	margin-top: 0.75rem;
}

.mt-4, .my-4 {
	margin-top: 2rem;
}


.float-right {
	float: right;
}

.text-center {
	text-align: center;
}

.vertical-middle {
	display: flex;
	align-items: center;
	justify-content: left;
	height: 100%;
}

.middle-center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.clear-both {
	clear: both;
}
