.ml-1, .mx-1 {
	margin-left: 0.25rem;
}

.ml-2, .mx-2 {
	margin-left: 0.5rem;
}

.mr-1, .mx-1 {
	margin-right: 0.25rem;
}

.mr-2, .mx-2 {
	margin-right: 0.5rem;
}

.mt-1, .my-1 {
	margin-top: 0.25rem;
}

.mt-2, .my-2 {
	margin-top: 0.5rem;
}

.mt-4, .my-4 {
	margin-top: 2rem;
}

.float-right {
	float: right;
}

.text-center {
	text-align: center;
}
