.panel {
	display: block;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 0.25rem;

	$blur_radius: 7px;
	-webkit-backdrop-filter: blur($blur_radius);
	backdrop-filter: blur($blur_radius);

	padding: 0;
	transition: background-color 0.15s ease-in-out, drop-shadow 0.15s ease-in-out;

	&:not(.panel-editing) {
		overflow: hidden auto;
	}

	&:not(.flush), .panel-inset {
		padding: 0.8rem;
	}

	h2.panel-inset {
		margin-bottom: 0;
	}
}

.panel, .modal-body {
	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	> ul {
		display: block;
		margin: 0;
		list-style: none;
		padding: 0;
	}

	> ul.large {
		li.section {
			padding: 0.5rem 1rem 0.2rem 1rem;
			font-size: 0.9rem;
			line-height: 1.5;
		}

		a {
			padding: 0.5rem 1rem;
			font-size: 1.171875rem;
			line-height: 1.5;
		}
	}

	> ul li {
		display: block;
		margin: 0;
		list-style: none;
		padding: 0;

		&.section {
			display: block;
			padding: 0.4rem 0.8rem 0.2rem 0.8rem;
			font-size: 0.9rem;
			line-height: 1.5;
			color: rgba(255, 255, 255, 0.5);

			&:first-child {
				padding-top: 0.8rem;
			}
		}

		a {
			display: block;
			padding: 0.4rem 0.8rem;
			color: rgba(255, 255, 255, 0.9);
			text-decoration: none;
			transition: color 0.2s ease-in-out,
					background-color 0.2s ease-in-out;

			&:hover {
				color: white;
				background: rgba(255, 255, 255, 0.1);
				text-decoration: none;
			}
		}
	}

	h2 {
		margin-top: 0;
	}

	h2, h3, h4, h5 {
		font-size: 100%;
		font-weight: bold;

		a {
			color: white;
			text-decoration: none;

			&:hover {
				color: white;
				text-decoration: underline;
			}
		}
	}
}

.widget {
	position: relative;

	&:hover .widget-strip {
		opacity: 0.25;
	}

	.widget-strip {
		position: absolute;
		top: 0;
		right: 0;

		max-height: 30px;

		display: flex;
		flex-flow: row;
		padding: 0;
		margin: 0;

		z-index: 100;
		border-radius: 0 0.25rem 0 0.25rem;
		transition: opacity 0.15s ease-in-out;
		opacity: 0;
		user-select: none;
		overflow: hidden;
		background-color: rgba(255, 255, 255, 0.25);

		.widget-title {
			margin: 0;
			padding: 0.2rem 1rem 0.2rem 0.8rem;
			vertical-align: middle;
			display: inline-block;
			flex: 1;
			cursor: move;
		}

		&:hover {
			opacity: 1;
		}
	}

	.widget-btns {
		margin: 0;
		padding: 0;
		z-index: 100;

		.btn {
			color: white;
			padding: 0.2rem 0.65rem;
			margin: 0;
			border-radius: 0;
			&:hover {
				color: white;
				background-color: rgba(255, 255, 255, 0.25);
			}
		}
	}

	> .widget-btns {
		position: absolute;
		top: 0;
		right: 0;

		.btn {
			transition: color 0.15s ease-in-out;
			color: transparent;
		}
	}

	&:hover > .widget-btns .btn {
		color: white;
	}

	.panel {
		height: 100%;
		box-sizing: border-box;
	}

	.react-resizable-handle {
		background-image: none;

		&::after {
			transition: border-color 0.15s ease-in-out;
			border-color: transparent;
		}
	}

	&:hover .react-resizable-handle::after {
		border-color: rgba(255, 255, 255, 0.6);
	}
}

.react-grid-item.cssTransforms {
	transition-property: none;
}

.animated .react-grid-item.cssTransforms {
	transition-property: transform;
}

main > .widget {
	margin: 1em 0;
}

.weather {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 2fr 2fr;
	grid-gap: 0.5em;
	grid-auto-flow: dense;
	text-align: center;

	h2 {
		margin: 0;
	}

	.large {
		font-size: 200%;
	}

	.label {
		display: block;
		color: rgba(255, 255, 255, 0.5);
		margin-bottom: 0.3rem;
	}
}

.row-span-2 {
	grid-row: span 2;
}

.row-span-3 {
	grid-row: span 3;
}

.col-span-2 {
	grid-column: span 2;
}

.col-span-3 {
	grid-column: span 3;
}
