html, body {
	width: 100%;
	height: 100%;
}

body {
	overflow: hidden;
	color: #eee;
	font-family: "Roboto", "Arial", sans-serif;
	background: #111;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	background-image: url("https://i.redd.it/5hm3u7rb4fk61.jpg");
}

main {
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 600px;
}

h1 {
	display: block;
	text-align: center;
	font-size: 64pt;
	margin: 0 0 2.5rem 0;
}

.mb-0 {
	margin-bottom: 0;
}

$grid_gap: 1em;

@supports not (grid-template-rows: masonry) {
	.grid {
		column-count: 2;
		gap: $grid_gap;

		& > * {
			display: inline-block;
			margin: 0 0 $grid_gap 0;
			width: 100%;
			box-sizing: border-box;
		}
	}
}

@supports (grid-template-rows: masonry) {
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: dense;
		grid-gap: $grid_gap;
		grid-template-rows: masonry;

		& > * {
			display: inline-block;
		}
	}
}

.panel {
	display: block;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 0.25rem;
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	padding: 0;
	overflow: hidden auto;
	transition: background-color 0.15s ease-in-out, drop-shadow 0.15s ease-in-out;

	&:not(.flush) {
		padding: 0.8rem;
	}

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	> ul {
		display: block;
		margin: 0;
		list-style: none;
		padding: 0;
	}

	> ul li {
		display: block;
		margin: 0;
		list-style: none;
		padding: 0;

		&.section {
			display: block;
			padding: 0.5rem 1rem 0.2rem 1rem;
			font-size: 0.9rem;
			line-height: 1.5;
			color: rgba(255, 255, 255, 0.5);

			&:first-child {
				padding-top: 0.8rem;
			}
		}

		a {
			display: block;
			padding: 0.5rem 1rem;
			font-size: 1.171875rem;
			line-height: 1.5;
			color: rgba(255, 255, 255, 0.9);
			text-decoration: none;
			transition: color 0.2s ease-in-out,
					background-color 0.2s ease-in-out;

			&:hover {
				color: white;
				background: rgba(255, 255, 255, 0.1);
				text-decoration: none;
			}
		}
	}

	h2 {
		font-size: 100%;
		font-weight: bold;
		margin-top: 0;
	}

	&.panel-editing {
		background-color: rgba(255, 255, 255, 0.3);
		filter: drop-shadow(0 0 8px rgba(33, 33, 33, 0.7));
	}
}

.widget {
	position: relative;

	.btn {
		position: absolute;
		top: 0.4rem;
		right: 0.8rem;
		color: transparent;
		transition: color 0.15s ease-in-out;
		cursor: pointer;
		z-index: 100;
	}

	&:hover .btn, &.panel-editing .btn {
		color: white;
	}
}

label {
	display: block;
	margin: 0.9em 0 0.3em 0;
}

input, textarea {
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 0.25rem;
	color: white;
	padding: 0.3rem 0.6rem;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

input.large, textarea.large {
	font-size: 120%;
	padding: 0.8rem 1.2rem;
}

textarea.invisible, input.invisible {
	background: transparent;
	border: none;
	color: white;
	resize: none;
	font-family: inherit;
}

main > .panel {
	margin: 1em 0;
}
